@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "Variables";
body,
html,
h1,
h2,
h3,
h4,
h5,
button,
input,
optgroup,
select,
textarea,
#root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
body {
  background-color: $gray-lightest !important;
  font-family: "Roboto", sans-serif !important;
  color: $black;
  letter-spacing: 0.01875rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
pre {
  margin-bottom: 0;
}
pre code {
  white-space: break-spaces;
}
input::-webkit-input-placeholder {
  color: $gray-medium;
}

input::-moz-placeholder {
  color: $gray-medium;
}

input:-ms-input-placeholder {
  color: $gray-medium;
}
.ui {
  * {
    &:not(.icon) {
      font-family: "Roboto", sans-serif !important;
    }
  }
  &.button {
    margin: 0;
    font-weight: normal;
    // height: 2.7rem;
    box-shadow: none !important;
    .button {
      box-shadow: none !important;
    }
    &.basic {
      box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.15) inset !important;
      -webkit-box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.15) inset !important;
      &.blue {
        -webkit-box-shadow: 0 0 0 1px $blue-bright inset !important;
        box-shadow: 0 0 0 1px $blue-bright inset !important;
        color: $blue-bright !important;
        &:hover {
          background: $blue-bright !important;
          color: $white !important;
        }
      }
    }
  }
  &.checkbox {
    label {
      font-size: 0.9rem;
      font-weight: 400;
    }
  }
}
.ui {
  &.primary {
    &.button {
      background-color: $blue-bright;
      &:hover,
      &:focus {
        background-color: $blue-200;
      }
      .button {
        background-color: $blue-bright;
        box-shadow: none;
        &:hover,
        &:focus {
          background-color: $blue-200;
        }
      }
    }
  }
  &.icon {
    a {
      color: $white;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &.form {
    input {
      &:not([type]),
      &[type="date"],
      &[type="datetime-local"],
      &[type="email"],
      &[type="file"],
      &[type="number"],
      &[type="password"],
      &[type="search"],
      &[type="tel"],
      &[type="text"],
      &[type="time"],
      &[type="url"] {
        border: 1px solid rgba(34, 36, 38, 0.15);
        border-radius: 0.357rem;
        &:focus {
          border-color: $blue-bright;
          border-radius: 0.357rem;
        }
      }
    }
    .field {
      & > label {
        font-weight: 400;
        font-size: 0.95rem;
        margin: 0 0 0.625rem 0;
      }
      & > label {
        font-weight: 400;
        font-size: 0.95rem;
        margin: 0 0 0.625rem 0;
      }
    }
    .inline {
      &.fields {
        & > label,
        & > p {
          font-weight: 400;
          font-size: 1rem;
        }
        .field {
          & > label,
          & > p {
            font-weight: 400;
            font-size: 1rem;
          }
          & > label {
            font-weight: 400;
            font-size: 1rem;
          }
        }
      }
    }
  }
  &.tabular {
    &.menu {
      .item {
        text-transform: capitalize;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        border: none !important;
        margin: 0;
        padding: 0.7143rem 1.42857143em;
        &.active {
          margin: 0 !important;
        }
      }
    }
  }
  &.dropdown {
    i {
      &.icon {
        color: $gray-dark;
        font-size: 0.8em;
        margin: 0 0 0 0.5rem;
        line-height: normal;
        padding: 1.2666667em 0.91666667em;
        min-height: 44px;
      }
    }
    .text[role="alert"] {
      color: $gray-dark;
    }
    & > .dropdown {
      &.icon {
        font-family: Icons;
        &:before {
          content: "\f078";
        }
      }
    }

    &:hover {
      i {
        &.icon {
          color: $blue-bright;
        }
      }
      .text[role="alert"] {
        color: $blue-bright;
      }
    }
  }

  &.label {
    font-weight: 400;
    font-size: 0.8rem;
  }
}
.mb-30 {
  margin-bottom: 30px;
}
footer.footer {
  height: 60px;
  // background: $white;
  font-size: 16px;
  color: $black;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  // border-top: 1px solid $gray-light;
  i {
    &.icon {
      font-size: 14px;
    }
  }
}
.main {
  position: relative;
  min-height: 100vh;
}
.s9iconcross {
  font-size: 1.25rem;
  color: $black;
  &:hover {
    color: $blue-bright;
  }
}
a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
header {
  & ~ {
    .page-content {
      padding: 60px 0 90px 0;
      section {
        .content {
          .full-container {
            width: 100%;
            padding: 48px 60px 0 130px;
            @media only screen and (max-width: 768px) {
              padding: 32px;
            }
          }
        }
      }
    }
  }
}

// Toaster
#root {
  .Toastify__toast {
    border-radius: 7px;
    &.Toastify__toast--success {
      background: #1f6650;
    }
    &.Toastify__toast--warning {
      background: #fc7e2f;
    }
    &.Toastify__toast--info {
      background: #303960;
    }
    &.Toastify__toast--danger {
      background: #9a1f40;
    }
  }
}
.s9link-table {
  border: 1px solid $gray-light;
  padding: 15px 0;
  border-radius: 0.28571429rem;
  background: $white;
  .s9link-table-row {
    padding: 0 1rem 1rem 1rem;
    &:not(:last-child) {
      margin-bottom: 1rem !important;
      border-bottom: 1px solid $gray-light;
    }
    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
.page-content {
  .page-title {
    border-bottom: 1px solid $gray-light;
    @media only screen and (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start !important;
    }
    .title {
      h2 {
        font-size: 1.5rem;
        line-height: 32px;
      }
      p {
        font-size: 16px;
        color: $gray-dark;
      }
      @media only screen and (max-width: 767px) {
        margin-bottom: 1rem;
      }
    }
  }
}
.page-sub-title {
  font-size: 18px;
  line-height: 24px;
  color: $black;
  margin-bottom: 1.5rem;
}
.rs-picker-daterange {
  &.rs-picker-has-value {
    .rs-btn {
      .rs-picker-toggle-value {
        color: $black;
      }
    }
    .rs-picker-toggle {
      .rs-picker-toggle-value {
        color: $black;
      }
    }
  }
}
.ui {
  &.cards {
    & > .card {
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      &:hover {
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
          0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      }
      & > .content {
        & > .header {
          &:not(.ui) {
            font-size: 1rem;
            font-weight: 500;
          }
        }
        & ~ .content {
          min-height: 80px;
        }
      }
    }
  }

  // Modal center
  &.small {
    &.modal {
      height: 600px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      backface-visibility: hidden;
      overflow: auto;
    }
  }
}

.code-view {
  padding: 20px;
  background-color: $blue-light;
  border: 1px solid $gray-medium;
  border-radius: 3px;
  &.with-button {
    position: relative;
    padding: 40px 20px 20px 20px;
    .button {
      position: absolute !important;
      top: 0;
      right: 0;
      border-radius: 0 0 0 4px;
    }
  }
}
.paste-here {
  background: #5dbc22;
  display: block;
  padding: 5px 10px;
  color: #fff;
  margin-left: 62px;
  border-radius: 5px;
  width: max-content;
  text-align: center;
}

// Responsive CSS
@media only screen and (max-width: 768px) {
  .s9link-button {
    flex-direction: column;
    & > div {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }
}

// custom tab CSS
@media only screen and (max-width: 768px) {
  #custom-tab {
    & > div {
      .ui.grid {
        flex-direction: column;
        & > div {
          width: 100% !important;
          padding-right: 1rem !important;
          padding-left: 1rem !important;
          .vertical {
            height: auto;
            padding-bottom: 0;
            border-right: 0;
          }
        }
      }
    }
    &.installation-tab {
      & > div {
        .ui.grid {
          & > div {
            padding-right: 0 !important;
            padding-left: 0 !important;
          }
        }
      }
    }
  }
}
#configuration-action {
  background: $white;
  border-top: 1px solid $gray-light !important;
  padding: 1.25rem;
  left: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  @media only screen and (max-width: 768px) {
    margin: 0 !important;
    background: $white !important;
    position: relative;
  }
}
// form UI
.ui {
  &.selection {
    &.dropdown {
      background-color: $gray-medium-dark;
      border-color: $gray-medium-dark;
      color: $dark;
      font-size: 0.9375rem;
      line-height: 1.6;
      border-radius: 0.375rem;
      min-height: 44px;
      display: flex;
      align-items: center;
      &:focus,
      &:hover {
        border-color: $gray-medium-dark;
        .menu {
          border-color: $gray-medium-dark;
          .active {
            &.item {
              font-weight: 500;
            }
          }
          .item {
            font-size: 0.9375rem;
          }
        }
      }
      & > .dropdown {
        &.icon {
          line-height: 1.98em;
        }
      }
      &.disabled {
        background-color: #dee0e6;
        border-color: #dee0e6;
      }
    }
    &.active {
      &.dropdown {
        border-color: $gray-medium-dark;
        &:focus,
        &:hover {
          border-color: $gray-medium-dark;
        }
        .menu {
          border-color: $gray-medium-dark;
          &:focus,
          &:hover {
            border-color: $gray-medium-dark;
          }
        }
      }
      &.item {
        font-weight: 500;
      }
    }
  }
  &.form {
    input {
      &:not([type]),
      &[type="date"],
      &[type="datetime-local"],
      &[type="email"],
      &[type="file"],
      &[type="number"],
      &[type="password"],
      &[type="search"],
      &[type="tel"],
      &[type="text"],
      &[type="time"],
      &[type="url"] {
        background-color: $gray-medium-dark;
        border-color: $gray-medium-dark;
        color: $black;
        font-size: 0.9375rem;
        line-height: 1.6;
        border-radius: 0.375rem;
        min-height: 44px;
        &::placeholder {
          color: $dark;
        }
        &:focus,
        &:hover {
          border-color: $gray-medium-dark;
          background-color: $gray-medium-dark;
        }
      }
    }
  }
  &.toggle {
    &.checkbox {
      label,
      .box {
        padding-left: 3.5rem;
        padding-top: 0;
        min-height: 1.5rem;
        &:before {
          width: 2.5rem;
          height: 1.25rem;
          background: $gray-light;
        }
        &:hover,
        &:focus {
          &:before {
            background: $gray-light;
          }
        }
      }
      input {
        & ~ label,
        & ~ .box {
          &:after {
            background-color: $gray-medium;
            width: 1.25rem;
            height: 1.25rem;
            box-shadow: none;
          }
        }
        &:hover,
        &:focus {
          & ~ label,
          & ~ .box {
            &:before {
              background: $gray-medium-dark;
            }
          }
        }
        &:checked ~ label,
        &:checked ~ .box {
          &:before {
            background-color: $blue-bright;
          }
          &:after {
            background-color: $gray-medium-dark;
            left: 1.25rem;
            box-shadow: none;
          }
        }
      }
    }
  }
}

// Preloader
#preloader {
  position: absolute;
  left: 280px;
  right: 280px;
  top: 60px;
  background-image: linear-gradient(45deg, #ffffff, #ffffff);
  z-index: 9999999;
  transition: 300ms ease-in-out;

  &.fullscreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    #status {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  #status {
    .spinner {
      width: 40px;
      height: 40px;
      position: relative;
      margin: 100px auto;

      .double-bounce1,
      .double-bounce2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #2f55d4;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        animation: sk-bounce 2s infinite ease-in-out;
      }
      .double-bounce2 {
        animation-delay: -1s;
      }
    }
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
