.cp-wrapper {
  .cp-main {
    .cover {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .picker {
      position: absolute;
      right: 0;
      z-index: 2;
    }
  }
}
